.app > header {
  padding: 0 2rem;
  width: 100%;
  z-index: 1;
}

.app > header > .app-brand {
  line-height: 3rem;
  font-size: 1.3rem;
}

.app > nav {
  height: calc(100vh - 3rem);
  padding: 0 1rem 0 1rem;
}

.app > nav > a {
  font-size: 1.1rem;
  line-height: 2rem;
}

.app > nav > a.active {
  color: red;
}

.app > nav > a:first-child {
  margin-top: 1rem;
}

.app > main {
  padding-left: 1rem;
}