body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.bg-dark {
  background-color: #222;
  color: white;
}

.bg-light {
  background-color: #eee;
}

.shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}